.menu-con {
  display: grid;
  column-gap: 1.2rem;
  row-gap: 1.3rem;
  justify-content: center;
  height: 95%;
  width: 100%;
  color: #69717a;
  background: linear-gradient(to top, #dfe9f3 0%, white 100%);
  overflow: auto;
}

#card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(27.6rem, 0fr));
  column-gap: 2%;
  row-gap: 1.3rem;
  height: fit-content;
  max-width: 85rem;
  color: #69717a;
  overflow: auto;
  justify-content: center;
  align-items: center;
}

.card {
  height: 12.9rem;
  min-width: 100%;
  border: 1px solid grey;
}

.card-left-div {
  border: 1px solid grey;
  width: 40%;
  height: 100%;
}