:root {
  /* using system fonts as suggested by https://css-tricks.com/snippets/css/system-font-stack/ */
  --system-ui: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

/* @font-face { 
font-family: Inter;
  src: url(./../fonts/InterVariable/InterVariable.ttf);
} */

* {
  margin: 0;
  border: none;
}

/* Below for displaying checkbox square. Absent previously due to CSS reset */
input[type="checkbox"] {
  appearance: auto;
}

input,
select {
  border: 1px solid grey;
}

:root,
body {
  /* height: 100%; */
  box-sizing: border-box;
  /* background: linear-gradient(to top, #dfe9f3 0%, white 100%); */
}


body {
  font-family: var(--system-ui);
  /* background-image: url(./../images/background.jpg); */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* overflow: visible; */
  height: 100vh;
}

header {
  min-height: 5%;
  background-color: grey;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  flex-shrink: 0;
  background: linear-gradient(to top, #dfe9f3 0%, white 100%);
}

nav {
  display: flex;
  height: 100%;
  /* width: 50%; */
  justify-content: space-between;
}

.tab-btn {
  background-color: inherit;
  color: #69717a;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0px 16px;
  transition: 0.3s;
  font-size: 1.2rem;
  font-weight: 500;
  font-family: serif;
  font-style: italic;
  border-radius: 5px 5px 0px 0px;

}

.tab-btn:hover {
  background-color: #ddd;
}

/* .tab-btn:focus {
  background-color: silver;
} */